<div class="mb">
  <mat-card >
   <div class="flex-row">
    <img [src]="dish.strMealThumb" height="100" width="150">
    <div>
        <span>{{dish.strMeal}}</span>
    </div>
</div> 
</mat-card>  
</div>

