
<div class="home-container">
    
    <h1>Select option</h1>
    <div class="flex-center">
       <mat-list>
    <mat-list-item class="cursor-pointer" routerLink="/dish/list">
      <mat-icon>restaurant_menu</mat-icon>  Dishes
    </mat-list-item>
    <mat-list-item routerLink="/dish/ingredients">
        <mat-icon>local_pizza</mat-icon>
        Ingredients
    </mat-list-item>
</mat-list> 
    </div>

    
</div>

