<div class="login-container">
  <h1>Login</h1>
  <mat-card>
      <form class="flex-column" [formGroup]="loginForm">
        <mat-form-field appearance="outline">
          <mat-label>User</mat-label>
          <input formControlName="user" matInput placeholder="Type your user">
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input formControlName="password" type="password" matInput placeholder="Type your password">
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
          

        <div class="flex-row">
           <input type="checkbox" formControlName="remember" id="remember">
          <label for="remember" >Remind me</label>
        </div>
         
      <button mat-raised-button color="primary" (click)="login()"><mat-icon>login</mat-icon> Login</button>
      
      </form>
  


  </mat-card>  
</div>

