.login-container{
  
    position:absolute;
    top: 30%;
    left: 40%;

    button{
        margin-top: 10px;
    }
}

.login-container {
    mat-card{
        height: 220px;
        width: 400px;
    }
}


h1{
    text-align: center;
}