<div class="container-detail">
  <div class="header-container">
    <button mat-icon-button><mat-icon>home</mat-icon></button>
   <h1>
    {{currentDish?.strMeal}}
</h1>  
  </div>


<div class="flex-center">
  <img [src]="currentDish?.strMealThumb"  width="500" height="300" [attr.alt]="currentDish?.strMeal"> 
<iframe *ngIf="currentDish" width="500" height="300" frameborder="0" allowfullscreen [src]="currentDish.strYoutube | safeUrl" frameborder="0"></iframe>  
</div>

<h3>
  Ingredients
</h3>
<div>
  <span>
    {{currentDish?.strIngredient1}} {{currentDish?.strMeasure1}},
  </span>
  <span>
    {{currentDish?.strIngredient2}} {{currentDish?.strMeasure2}},
  </span>
  <span>
    {{currentDish?.strIngredient3}} {{currentDish?.strMeasure3}},
  </span>
  <span>
    {{currentDish?.strIngredient4}} {{currentDish?.strMeasure3}},
  </span>
</div>

<h3>Instructions</h3>
<div class="instructions-container">
<p>
  {{currentDish?.strInstructions}}
</p>
</div>


<div>
  <span><strong>Category: </strong>{{currentDish?.strCategory}}.</span>
  <span><strong> Origin: </strong>{{currentDish?.strArea}}</span>
</div>
</div>

