.container-detail{
    padding: 10px;
    text-align: center;
    img{
        border-radius: 10px;
        margin-right: 1em;
    }
    iframe{
        border-radius: 10px;
    }

    p{
        width: 60%;
    }

    h3{
        margin-top: 10px;
    }
    h1{
        margin: 0 0 0px;
    }
}


.instructions-container{
    display: flex;
    justify-content: center;
    text-align: justify;
}

.header-container{
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
}