<div class="main-container">
    <mat-card>
        <div class="flex-center">
            <mat-form-field appearance="outline">
                <mat-label>Buscar</mat-label>
                <input [formControl]="search" matInput placeholder="Placeholder">
                <mat-icon (click)="searchAction()" matSuffix>search</mat-icon>
              </mat-form-field>
        </div>
        <div class="floating">
            <div class="title-container">
                <h2>Dishes list</h2>
            </div>

            <div class="dishes-container">
                <mat-list>
                    <mat-list-item class="cursor-pointer;" (click)="goDetail(dish.idMeal)" *ngFor="let dish of dishes |limitArray :10">
                        <div>
                            <span>{{dish.strMeal}} | {{dish.strCategory}}</span>
                        </div>

                    </mat-list-item>
                </mat-list>
            </div>

        </div>


    </mat-card>


</div>