<div class="welcome-container">
        <div class="title-container">
            <h2>{{randomDish?.strMeal}}</h2>

        </div>

        <div id="description-container">
            <img [src]="randomDish?.strMealThumb" width="300" height="250">
            <div id="description">
                <span> <strong>Type:</strong> {{randomDish?.strCategory}}</span>
                <span><strong>Origin: </strong>{{randomDish?.strArea}}</span>
                <br>
                <p id="instructions" class="line-clamp"> <strong>Instructions: </strong>{{randomDish?.strInstructions}}</p>
            </div>
        </div>
       <div class="actions-container">
          <button mat-button (click)="goDetail()">See More</button> 
          <button mat-button  mat-dialog-close>Close</button> 
       </div>
            
  

   
</div>