
#description{
    display:flex; 
    flex-direction: column;
}

#description-container{
display: flex;
img{
    border-radius: 10px;
    margin: 5px;
    margin-right: 20px;
}
}

#instructions{
    width: 300px;
    overflow: hidden;
    &.line-clamp {
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
    }
}

.actions-container{
    display: flex;
    justify-content: end;
}

