<mat-toolbar>
   <a role="button" class="cursor-pointer" (click)="goHome()"><mat-icon>home</mat-icon>Dishes</a>
   <span class="spacer"></span>
    <span>{{user?.name}} {{user?.lastName}} <small>({{user?.email}})</small></span>
    <button (click)="logOut()" mat-icon-button><mat-icon>logout</mat-icon></button>
 </mat-toolbar>