.ingredients-container{
    height: 100%;
    overflow: auto;
}

.floating{
    position: relative;
    .title-contrainer{
        position: sticky;
        top: 0;
    }
}


.main-container{
    width: 300px;
    padding: 10px;
}

.related-dishes{
    padding: 10px;
    overflow: auto;
    height: 500px;
    width: 100%;
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}