<div class="flex-row">
    <div class="main-container">
        <mat-card>
            <div class="floating">
                <div class="title-container">
                    <h2>Ingredients list</h2>
                </div>

                <div class="ingredients-container">
                    <mat-list>
                        <mat-list-item class="cursor-pointer" (click)="showDishes(ingredient.strIngredient)"
                            *ngFor="let ingredient of ingredients |limitArray :10">
                            {{ingredient.strIngredient}}
                        </mat-list-item>
                    </mat-list>
                </div>

            </div>


        </mat-card>


    </div>

    <div class="related-dishes">
        <app-dish-individual class="cursor-pointer" (click)="goDetail(dish.idMeal)" *ngFor="let dish of meals"
            [dish]="dish"></app-dish-individual>

    </div>
</div>