/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.title-container{
 display: flex;
 justify-content: space-between;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.cursor-pointer{
    cursor: pointer;
}

.flex-row{
    display: flex;
    flex-direction: row;
}


.flex-column{
    display: flex;
    flex-direction: column;
}